html, body {
  min-width: 320px;
  min-height: 320px;
}

.main-spinner {
  position: absolute;
  top: 100px;
  left: 50%;
}

.table tr:hover td,
.table tr:hover th {
  background-color: transparent;
}


.table-striped tr:nth-child(odd):hover td {
   background-color: #F9F9F9;
}

.list img {
  max-width: 30px;
}

.list .time-updated {
  position: relative;
  float: right;
}

ion-content ion-infinite-scroll {
  position: relative;
  top: 20px;
}

.v-center {
  display: block;
  line-height: 1;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
}
